extends layout

block content
  #content
   h1 Information
   h2 Venue Information
   p <strong> <u>Ceremony and Reception Location:</strong></u>
   p Sheraton Hotel Ballroom
   p 210 S Dubuque St
   p Iowa City, IA 52240
   p (319) 337-4058
   p <a href='http://www.sheratoniowacity.com', target='blank'>http://www.sheratoniowacity.com</a>
   hr
   h2 Accomodations
   p.
     Two blocks of rooms have been reserved for both Friday 6/2 and Saturday 6/3. 
     The main block is at the Sheraton Hotel, and a smaller block at HotelVetro, 
     which has larger suite rooms but is slightly more expensive. Both hotels have 
     access to a large parking garage with plenty of space. Parking is $1/hour, or $14/night 
     for guests staying at either hotel. 
   p.
     When booking your room, please mention the Kabela/Schlaak 
     wedding block for a reduced rate, or follow this link: 
   a(id='link-pink', href='https://www.starwoodmeeting.com/Book/kabelaschlaakwed', target='_blank') https://www.starwoodmeeting.com/Book/kabelaschlaakwed
   p.
    We have heard from some guests that there are issues with receiving the 
    special room rate through online booking. If you choose to book online, 
    please call the hotel to confirm that you are in our block with the reduced rate!
   br
   p.
    <strong>The reduced room rate is available until May 3rd, 2017.</strong>
   p The Sheraton Hotel (site of the wedding & reception)
   p 210 S Dubuque St
   p Iowa City, IA 52240
   p (319) 337-4058
   p http://www.sheratoniowacity.com/
   br
   p and
   br
   p HotelVetro (a short walk from the Sheraton)
   p 201 S Linn St
   p Iowa City, IA 52240
   p (800) 592-0355
   p http://www.hotelvetro.com/
   hr
   h2 Travel
   p For those who will be flying in, the nearest airport is:
   br
   p Eastern Iowa Airport, Cedar Rapids  
   p 2121 Arthur Collins Pkwy SW
   p Cedar Rapids, IA 52404
   p Airport Code: CID
   p The Cedar Rapids airport is about a 30 minute drive from the hotel. 
   p The Sheraton does offer a shuttle service for $38 per person.
   hr
   h2 Picture
   p.
    We ask that family members stay in their seats after the ceremony so that we can get through 
    our large group pictures as quickly as possible and allow the hotel staff to start setting up 
    for the reception.
   br
   p <strong><u>We plan on taking family photos in the following order:</strong></u>
   p Kabelas
   p Goodales
   p Norrises
   p Schlaaks
   p Parents/Siblings
   br
   p We greatly appreciate your cooperation!