extends layout

block content
 #content
   h1 Our Story
   h2 How we met
   p.
      Kerri and Casey met in 2010 at Highland Park Hospital while Kerri was completing her first physical 
      therapy rotation for graduate school and Casey was just starting his first job after graduating 
      from the University of Iowa.
   p.
      It all started when Casey spotted an Iowa Hawkeyes water bottle on Kerri's desk. 
      "Hmm, she seems cool and obviously has good taste in schools, maybe I'll actually 
      find the nerve to talk to her some day" Casey thought as he nervously glanced in 
      her direction, hoping she would notice him. Next thing he knew, Casey had been assigned 
      to help Kerri with a project that involved him acting as a model for various exercise 
      videos that she had to create. This got the conversation ball rolling and they quickly 
      became work friends as they realized how much they had in common. Once the ice was 
      broken, Casey took every opportunity to chat with Kerri as she was typing notes between 
      seeing patients. At one point, he even received a talk from his supervisor about distracting 
      her while she was doing her work. Conversation always came very easily for them, especially since 
      they were both new to the hospital and close in age.
   p.
      During Kerri's last weekend in Chicago, they decided to get together outside 
      of work and met a big group of their friends to watch an Iowa football game. 
      Things switched from being just friends when Kerri came out of the bathroom and 
      Casey walked right up and kissed her. After that, their relationship continued 
      to grow despite geographical distance. Kerri's clinical rotations took her to 
      Minnesota, California, and Washington over the next 8 months, and Casey traveled 
      to each of those locations in order to be with her. After each visit, he always 
      made sure to book his next flight right away so he had something to look forward to, 
      and constant Skype and phone conversations kept their relationship growing between visits.
   p.
      After grad school, Kerri decided to move back to Chicago and they've been in love ever since. 
      Casey popped the question one evening in May of 2016, surprising Kerri with an apartment full of 
      candles and flowers when she arrived home from work.
   p.
      We can't wait to celebrate our wedding in June with all of our favorite people! 
      Thank you all for your constant love and support. We wouldn't be here without you!

  


 