extends layout

block content
 #content
  h1 Schedule
  h2 Saturday, June 3, 2017

  h3 Ceremony 
    span#time 2:00 PM
  h3 Family Pictures 
    span#time 2:30 PM
  h3 Cocktail Hour 
    span#time 5:00 PM
  h3 Grand Entrance 
    span#time 6:00 PM
  h3 Dinner 
    span#time 6:30 PM
  h3 Party! 
    span#time 7:30 PM