extends layout

block content
 #content
  h1 Wedding Party
  h2 Lauren Rose - Maid of Honor
  p 
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/ab/d96a7069ad11e6a5e92dd85fe8e085/Lauren5_edited.jpg')
  p.
    Lauren and Kerri were roommates in 2010 during Kerri's grad school rotation in Chicago, 
    and they immediately became good friends. Their friendship grew stronger over the years 
    when Kerri moved back to Chicago after graduate school. Lauren now lives in Decatur, 
    Arkansas with her husband, Kevin, and works as a social worker.

  br
  hr
  h2 Casey Weishapple - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/cc/e13860694911e6b40a47895c9d2d83/Casey-W.jpg')
  p.
   Casey and Kerri were sorority sisters in Alpha Phi at University of Wisconsin - La Crosse. 
   Casey holds true to her title of "Ms. Social" by being the sorority sister who continues to 
   lead the charge of organizing weekend events for everyone to still get together. Thankfully Alpha
   Phis seem to be great at picking their significant others, as the Alpha Phi "Guys" enjoy spending 
   time with each other just as much as the women still do. Casey lives in Ixonia, Wisconsin with her 
   husband, Bill, and works as a sales representative for a Nonns, a furniture, floor, and flooring company.
  br
  hr
  h2 Racheal Kasper - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/55/4ae2f0699a11e6ba7e190bc1de89fc/Racheal2.jpg')
  p.
   Kerri met Racheal during her last year at University of Wisconsin - La Crosse. 
   They had both signed up for a weight lifting class, and Kerri asked this total stranger 
   if she wanted to lift together. They became fast friends. Racheal lives in Jacksonville, 
   Florida where she works&nbsp;as a sales representative for Skeeter Snacks.
  br
  hr
  h2 Shivan Nelson - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/22/c86180694b11e6a9d52736b462ff53/Shivan.jpg')
  p.
   Shivan and Kerri lived together while they were both in graduate school at the University of 
   Minnesota (Shivan for dentistry, Kerri for physical therapy). With their fellow roommate, Katie, 
   (and their unofficial fourth roommate, Shivan's then boyfriend now husband Travis Noffke) the group 
   often spent late school nights chatting and sharing funny stories. Since graduating, Shivan and her 
   husband, Travis Noffke (see below), have spent numerous weekends with Kerri and Casey in Chicago and 
   Minneapolis.
  br
  hr
  h2 Lindsey Rathjen - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/52/744ab0699711e6ba7e190bc1de89fc/Lindsey2.jpg')
  p.
   Lindsey and Kerri met in kindergarten, and went to school together all the way 
   through high school at West Branch High School. Lindsey is credited for convincing 
   Kerri to join the high school golf team (even though neither of them knew how to golf yet) 
   instead of having to run around in circles on the track team. After graduating, the two have 
   stayed close over the years. Lindsey lives and works in Los Angeles, California as a PR representative.
  br
  hr
  h2 Jennifer Salm - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/d8/734530699711e6a83d1dc8908f4495/Jenn_edited.jpg')
  p.
   Jenn joined Alpha Phi at the University of Wisconsin - La Crosse during her super-senior year. 
   Kerri and Jenn became good friends before Jenn graduated, and stayed in touch with the years to 
   follow. They found humor in their regular emails to each other regarding their dating horror stories 
   during their single years. Jenn now lives in Neenah, Wisconsin with her husband, Eric, and works at 
   Toys for Trucks.
  br
  hr
  h2 Michael Schlaak - Best Man
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/4f/0ee930689211e6b47beb450cc81785/13669004_10106561671469590_8217656234453322551_n.jpg')
  p.
   Casey's older brother (also featuring Truman, Michael's adorable baby boy). 
   Michael is a design engineer at Littelfuse. He and his wife Jaclyn are University 
   of Illinois alumni, but we don't hold that against them.
  br
  hr
  h2 Erik Kabela - Groomsman
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/aa/d204906a0511e68918d1c7cc99f653/Untitled.png')
  p.
   Kerri's older brother (with a guest appearance by Esther). Erik lives in Knoxville, 
   TN with his wife Megan and three kids - Abigail, Esther, and David. Erik has a Ph.D. in 
   Meteorology/Climatology and works for the U.S. government, which is the only thing we are actually 
   allowed to know about his work.
  br
  hr
  h2 Joe Carey - Groomsman
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/4e/f4a390675711e6accc6b27d1154495/CIMG5586.jpg')
  p.
   Joe was a good friend of Kerri's during her time at the University of Wisconsin - 
   La Crosse, and has since become one of Casey's best friends once they all happened 
   to move to the Chicago area. He currently works for the village of Vernon Hills and 
   did his internship in Onalaska, WI.
  br
  hr
  h2 Travis Noffke - Groomsman
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/19/00b1906a0711e6a00111bf1909193e/Trav.jpg')
  p.
   Travis completed the first half of his physics and engineering degrees at the University of Wisconsin - 
   La Crosse, and the second half at the University of Minnesota. Travis was among Kerri's closest friends 
   at UW La Crosse, and help to convince her how great a fit the University of Minnesota would be for her 
   for graduate school. The two have travelled together to Costa Rica, Austria, Switzerland, and Germany.
  br
  hr
  h2 Everett Hirose - Groomsman
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/94/5a83e0689311e6b2173fe23317c3fc/12248171_10103399013910819_4736782435155554232_o.jpg')
  p.
   Casey met Everett during his Sophomore year at the University of Iowa. 
   They became close after a memorable spring break road trip to Florida which 
   resulted in an absurd number of inside jokes. Everett is an attorney in Boston, 
   plays a mean round of golf, and frequently enjoys square-shaped bagels.
  br
  hr
  h2 Glen Dahlem - Groomsman
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/33/6304a0689211e688deddf98f9fbd16/15860_10100183081397177_4795101405845988290_n.jpg')
  p.
   Casey first met Glen when they were both working at Jimano's Pizzeria during 
   summer break from the University of Iowa. Casey made the pizzas, Glen delivered them. 
   Glen has been one of Casey's closest friends ever since, and they always have stories to 
   share about their Iowa adventures. Glen is a master of sales in Chicago.
  br
  hr
  h2 Tyler Smith - Officiant
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/06/398b80689111e6b2173fe23317c3fc/Tyler.png')
  p.
   When it came time to choose an officiant for our wedding, Tyler was our 
   first and only choice. He was a friend of Kerri's during her time at the University of Wisconsin - 
   La Crosse, Minneapolis, and on their trip to Germany with friends for Oktoberfest. He has since 
   become a great friend to Casey as well through his stellar fantasy football commissioning and 
   shared adventures over the years. Tyler lives in Minneapolis with his wife Kristi, and we couldn't 
   be more excited to have him as a central part of our big day!
  br
  hr
  h2 Abigail and Esther - Flower Girls
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/2a/c93b00675911e68c2717c508efa0e7/Abigail-and-Esther-_2_.png')
  p.
   Kerri&#39;s ADORABLE nieces
  br
  hr
  h2 Ryan Dunsirn - Usher
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/55/629710689111e6b9dfa907e357112e/Ryan.jpg')
  p.
   We first met Ryan in Chicago several years ago through our mutual friend Joe. 
   Since then, he and his fiance Allison have been our go-to Chicago friends for 
   live music, beer festivals, board game nights, intense euchre matches, and all-day 
   picnics by lake Michigan. When we're not doing those things, you'll usually find him 
   tearing up the streets of Chicago on one of his many bikes or enjoying some fine cheese 
   like any true Wisconsin native.
  br
  hr
  h2 Jonny Wolfe - Usher
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/fd/c2d690689111e6a86da91139ef5895/Jonny.png')
  p.
   Jonny is another one of Casey's closest friends from his University of Iowa days. He lives in New Lenox, 
   IL with his wife Mary and is the boss of everybody at FedEx. He also loves Zima.
  br
  hr
  h2 Jonny Wolfe - Usher
  p
   img(alt='', class='wedding-party-image', src='https://d25uo7j7o9w973.cloudfront.net/uploads/story/57adf9dc8eaec900270000d1/47/f8f8e069a811e6ac4daf59c98223af/Pat5.jpg')
  p.
   Pat is that friend who's the devil on your shoulder. Lets be honest, 
   every now and again that's exactly who you need to listen to. 
   Pat and Kerri met as Freshman at the University of Wisconsin - La Crosse 
   while they were both new members of their fraternities/sororities. For reason neither 
   of them really remembers, they started referring to each other as their "twin" years ago. 
   Pat lives and works in La Crosse, Wisconsin.
   
  

   
  
  
   
