    body {
        background-image: url(../images/couple/couple5.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
    }
    
    #content {
        background: none;
        margin: 0px 0px;
        padding-right: 0px;
        padding-left: 0px;
        font-size: 16px;
    }
    
    .navbar.navbar-light {
        background-color: none;
    }
    
    .home-menu {
        color: white;
        font-weight: bold;
    }
    
    .panel.panel-primary.map .panel-body {
        padding: 0px 0px;
        margin: 0px 0px;
    }