    body {
        background: none;
    }
    
    #content {
        color: #000000;
        background: none;
        margin: 10px auto 0px auto;
        padding: 20px 20px;
        font-size: 13px;
    }