body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 100%;
    background: url(../images/couple/couple.jpg) no-repeat center center fixed;
    background-color: #ffffff;
    line-height: 1.50;
    position: relative;
    color: #333333;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#content {
    color: #fafafa;
    background: rgba(29, 148, 191, 0.7);
    margin-right: 90px;
    padding: 20px 20px;
    font-size: 18px;
    font-family: 'Titillium Text';
}

h1 {
    color: #1a276b;
}

#content h1 {
    font-family: 'Calligraffiti';
    text-align: left;
    font-size: 32px;
}

#content h2 {
    font-family: 'Great Vibes';
    text-align: left;
    font-size: 28px;
}

#content h3 {
    font-family: 'Great Vibes';
    font-size: 21px;
}

#about-name {
    margin-top: 70px;
    font-family: 'Great Vibes';
    font-size: 68px;
    color: #ffffff;
}

.panel.panel-primary.map .panel-body {
    padding: 0px 0px;
    margin: 0px 0px;
}

#about-date {
    color: #f090e9;
    text-transform: capitalize;
    font-family: 'Titillium Text';
    font-size: 24px;
}

#about-location {
    color: #1d94bf;
    font-family: 'Titillium Text';
    font-size: 26px;
}

a {
    color: #55acee;
}

a:hover {
    color: #339BEB;
}

a:focus,
a:active {
    outline: none;
}

.container a,
.container a:visited,
.container a:active,
.container a:hover {
    color: #f090e9;
}

#time {
    display: inline;
    color: white;
    font-size: 18px;
}

#no-content {
    background: none;
}

.modal-body .form-horizontal .control-label {
    text-align: left;
    color: #000000
}

.modal-header {
    color: #000000
}

.wedding-party-image {
    margin-right: 10px;
    width: 50%;
    height: 60%;
}

.badge.badge-primary {
    font-size: 15px;
}

.map {
    width: 60%;
    height: 100%;
}

.wedding-photo {
    margin-right: 10px;
    width: 100%;
    height: 50%;
}

.header {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.10);
    padding: 10px 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header .navbar {
    margin-bottom: 0;
}

.navbar .navbar-nav>li>a {
    color: #fff;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Journal';
}

.navbar .navbar-nav>li>a:active {
    background-color: transparent;
    color: #55acee;
}

.navbar .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #55acee;
}

.panel.message-panel {
    color: #000000;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.error-message {
    color: red;
}

.bold-text {
    font-weight: bold;
}


/*
@media(min-width: 576px) and (max-width: 767px) {
    body {
        background-image: url(../images/couple.jpg) no-repeat center center fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}
*/