extends layout

block content
 #content
   h2 “True Love Stories never have endings” – Richard Bach
   h1 How we met
   h2 Happy's Version of events
   p.
      Taking you all back 6 years, I met Wura at the gate of OAU quarters in Maitama, Abuja. I was a corper serving with a company around the estate and my bosses insisted I figured out an easy way to get the workers in the office registered for voting. I went there to make enquiries about a way around the long queues for my new colleagues. On getting there, there was a crowd of people arguing about lost voters card and the corpers there were already looking confused at the immensity of work they would undergo to redo the initially failed process. Anyway, I cut a deal with one of the supervisors that I would help them input data into the system for free if they allowed a select few (my colleagues) skip the line when they arrived. The lady quickly agreed and told me to return the next day by 7am to start my pro-bono slave work. As I was about leaving, I saw this pretty corper girl raging at one of the officials over what I didn’t understand. I paid attention and realized she came to get herself registered. After observing the mood for a while, I approached her to try my luck. Hehehe. After talking for a bit, I realised she was also a corper and I told her the offer I had made. Also told her about the offer I had made and asked her to come join me after her CDS the next day as it will make her registration easier. She was rushing off so I collected her number and went back to the office feeling fulfilled. I had solved the boss registration problem and was probably gon get laid while at it. I called her that night and we talked like children doing mid-night call. Lol. I couldn’t wait for the next day to see her again. I bought a new white shirt that night, and ironed my corper pants to look as clean as I could for my voters registration date the next day. When I got there, she was nowhere to be found so I started the work pending my colleagues coming over for their stress free registration. After all my colleagues were done, I decided to stay a bit longer in case she showed up……she did. She was then operating the finger print reader while I took their details, we did hers and scrammed.
   p.
      We then went on a very fun filled date, took her to the amusement park. Hehehhe.We got on this scary ride where she cried soo much that she kept mute. She refused to talk to me throughout as the ride was over. I was so angry at myself for using my own money to mess up my chances with her. We then went to Albasha in Maitama, had a lovely meal, went to see a movie, had a couple of drinks…blab la bla bla….anyway, it was great fun. I guess I kinda saw a different person in her after that day. We then started seeing often, having more dates, I started offering ‘NETFLIX & CHILL’ dates also, having hangouts with friends and I guess things just fell into place. I asked her to give this a shot and she agreed to.
   h2 6 weeks after we started Dating.
   p.
      I started seeing another side of her, we met up almost every day after work and talked past midnight. I was upgraded to climbing upstairs at hers, seating in the living room and even being introduced to her people. Everything seemed so perfect. By the second month of the relationship, I was convinced that she was gon make me happy. I guess the relationship started rather well, even though I didn’t think it was gon be serious, it was one of the best decisions of my life.
   h2 Preferred Sex for Our First Child.
   p.
      I really don’t know. I would love to have a male child first to protect my daughters… hehehe. But I really can’t wait to have my daughter. She will be extremely gorgeous.
   h2 What made me know he is the ONE.
   p.
      It didn’t take much tbh. It usually doesn’t take me a lot of time to become addicted to things that make me happy. She made me soo happy, I got addicted and knew that I may never be able to be without her
   h2 Our Breakup.
   p.
      This was a really difficult time in our relationship for both of us, especially her. I blame myself every day for what I had to put her through, and I have decided to spend the rest of our lives making things right. I really don’t like talking about it for obvious reasons. I know it was not one of the most glorious experiences of my life, but I grew in ways I never knew I could. I thank God for bringing us back together, and also thank Him for using the breakup to fill me with the spirit of gratitude.
   h2 Our Makeup (Reuniting).
   p.
      Ok, I dunno about her cos I am too weird to want to find out, but I was in a couple of relationships during the time we were not together. Although some of the people were just witches, not all of them were horrible. I learnt a lot about myself and figured out I had a lot of rudeBoy behaviors I had to work on. We came back together and it was lovely. Makeup feels soo good, especially when it leads to kicking off to exactly where you left off. 
   h2 Most Challenging time in the relationship
   p.
      Personally my most challenging time in the relationship was when I just got back from my Masters program in the UK. My car was stolen and I didn’t have any job nor money. It was really depressing not being able to take your girlfriend to see a movie, or even support her to make her hair. It was more difficult seeing her come around every day just to spend time with me. I still thank God for the challenges, He used it to strengthen our bond. Her behavior during that period is too engraved to forget even when she is being a “wordy”.
   h2 Where I see our family in 3 months, 3 years and 30years…
   p.
      In 3 months, I think we will still be trying to get her adjusted to the new environment. There will be a lot of planning, working on projects and trying various ventures. Within this time, we will build the foundation for Our family ad set the pace for a glorious life together.
   p.
      In 3 years,I believe we musta had a couple of kids and would have gotten a hang of living together. I believe marriage is a journey and 3 years is still grazing the starting line. I sincerely believe we gon be fine.
   p.
      And in 30 years, Our kids will be all grown and out of the house. We will then have time to spend doing what we love doing and enjoying marriage life in general.
   h2 His likes and Dislikes.
   span.bold-text Likes: 
   p Working out, cooking, Music & Gisting
   span.bold-text Dislikes: 
   p Overfeeding & disappointments

 