extends layout

block content
 #content
  hr
  h1 Traditional Marriage.
  hr
  p.
   THE FAMILIES OF LATE DR. OLUMUYIWA &amp; LATE DR. (MRS.) OLUJOKE AKINTUNDE<br /><br />
   AND <br /><br />CHIEF WALTER &amp; CHIEF (MRS.) DEBORAH RUGBERE <br /><br/>
   REQUEST THE HONOUR OF YOUR PRESENSE AT THE TRADITIONAL MARRIAGE CEREMONY OF THEIR CHILDREN
  h1
   span#about-bride-name Wuraola Molayoninujesu<br />
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   span#about-names-link &amp;<br />
   span#about-groom-name Happy Oghenerukevwe
  h2 Date and time
  p.
   On Saturday, 13th May, 2017. 12:00 noon prompt.<br />
  h2 Venue
  p.
   16 Awolowo Road Ikoyi Lagos RCCG Living Spring Parish Auditorium (Federal Civil Service Club Premises)
  h2 Color of the day
  p.
   Grey and Magenta.
  h2 Rsvp
  p.
   Lanre Akintunde - 08051355169    Walter Rugbere -09090391285
  hr

  h1 White Wedding
  hr
  p.
   THE FAMILIES OF LATE DR. OLUMUYIWA &amp; LATE DR. (MRS.) OLUJOKE AKINTUNDE<br /><br />
   AND <br /><br /> CHIEF WALTER &amp; CHIEF (MRS.) DEBORAH RUGBERE <br /><br/>
   WOULD LIKE TO INVITE YOU TO JOIN THEM AT THE SOLEMNIZATION OF HOLY MATRIMONY OF THEIR CHILDREN
  h1
   span#about-bride-name Wuraola Molayoninujesu<br />
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   span#about-names-link &amp;<br />
   span#about-groom-name Happy Oghenerukevwe
  h2 Date and time
  p.
   On Saturday, 20th May, 2017. 11:00 am
  h2 Venue
  p.
   The Redeemed Christian Church Of God Central Parish, Plot 1249 Aminu Kano Crescent Wuse 2, Abuja 
  p.
   Reception To Follow At Myra Event Center Plot 135 Mustapha Bello Guzape District 1, Asokoro Abuja
  h2 Color of the day
  p.
   Teal blue and Champagne
  h2 Rsvp
  p.
   Walter Rugbere-09090391285 Seun Olowokere- 07037766298     


  
  
