extends layout

block content
 #content
  hr
  h1 Traditional Marriage.
  hr
  p.
   THE FAMILIES OF LATE DR. OLUMUYIWA &amp; LATE DR. (MRS.) OLUJOKE AKINTUNDE<br /><br />
   AND <br /><br />CHIEF WALTER &amp; CHIEF (MRS.) DEBORAH RUGBERE <br /><br/>
   REQUEST THE HONOUR OF YOUR PRESENSE AT THE TRADITIONAL MARRIAGE CEREMONY OF THEIR CHILDREN
  h1
   span#about-bride-name Wuraola Molayoninujesu<br />
   span#about-names-link &amp;<br />
   span#about-groom-name Happy Oghenerukevwe
  h2 Date and time
  p.
   ON SATURDAY, THE THIRTEENTH MAY, TWO THOUSAND AND SEVENTEEN AT TWELVE NOON PROMPT.<br />
  h2 Venue
  p.
   16 AWOLOWO ROAD IKOYI LAGOS RCCG LIVING SPRING PARISH AUDITORIUM (FEDERAL CIVIL SERVICE CLUB PREMISES)
  h2 Color of the day
  p.
   GREY AND MAGENTA.
  h2 RSVP
  p.
   LANRE AKINTUNDE- 08051355169    WALTER RUGBERE-09090391285
  hr

  h1 White Wedding
  hr
  p.
   THE FAMILIES OF LATE DR. OLUMUYIWA &amp; LATE DR. (MRS.) OLUJOKE AKINTUNDE<br /><br />
   AND <br /><br /> CHIEF WALTER &amp; CHIEF (MRS.) DEBORAH RUGBERE <br /><br/>
   WOULD LIKE TO INVITE YOU TO JOIN THEM AT THE SOLEMNIZATION OF HOLY MATRIMONY OF THEIR CHILDREN
  h1
   span#about-bride-name Wuraola Molayoninujesu<br />
   span#about-names-link &amp;<br />
   span#about-groom-name Happy Oghenerukevwe
  h2 Date and time
  p.
   ON SATURDAY, TWENTIETH OF MAY, TWO THOUSAND AND SEVENTEEN AT ELEVEN O’ CLOCK IN THE MORNING 
  h2 Venue
  p.
   THE REDEEMED CHRISTIAN CHURCH OF GOD CENTRAL PARISH, PLOT 1249 AMINU KANO CRESCENT WUSE 2, ABUJA 
  p.
   RECEPTION TO FOLLOW AT MYRA EVENT CENTER PLOT 135 MUSTAPHA BELLO GUZAPE DISTRICT 1, ASOKORO ABUJA 
  h2 Color of the day
  p.
   TEAL BLUE AND CHAMPAGNE
  h2 RSVP
  p.
   WALTER RUGBERE-09090391285SEUN OLOWOKERE- 07037766298     


  
  
