doctype html
html(ng-app='weddingApp')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animations.css')

    link(rel='stylesheet', type='text/css', media='screen', href='//d3qif39x2jyjyc.cloudfront.net/assets/fonts/great-vibes-583894a0ab918527d88be1456d2798b79b911fa02d0aa88ce0e8231361c7ab92.css')
    link(rel='stylesheet', type='text/css', media='screen', href='//d3qif39x2jyjyc.cloudfront.net/assets/fonts/titillium-text-ae8e860bc518f9f7cacd7ae17b8dbb43fa209d2c81bf2400e2715f3aff49cde8.css')
    link(rel='stylesheet', type='text/css', media='screen', href='//d3qif39x2jyjyc.cloudfront.net/assets/fonts/calligraffiti-f041557f221021a38e87367ad9218ed9cd9667e6c14a1aa387522ad935a51b2b.css')
    link(rel='stylesheet', type='text/css', media='screen', href='//d3qif39x2jyjyc.cloudfront.net/assets/fonts/journal-324be64130b76e0a424fdefd64308e4eefee4ac9200aa641d1998b526e89b08c.css')

    //-link(rel='stylesheet', href='/stylesheets/medium-style.css', media='only screen and (min-width:576px) and (max-width:765px)')
    link(rel='stylesheet', href='/stylesheets/small-style.css', media='only screen and (max-width:575px)')

    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
  body
   header.header.fixed.clearfix.navbar
    .container-fluid
     .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-main', aria-expanded='false')
       span.sr-only Toggle Menu
       span.home-menu Menu
     #navbar-main.navbar-collapse.collapse
      ul.nav.navbar-nav
       li
        a(href='/') Home
       li
        a(href='/happy-story') Happy's Story
       li
        a(href='/wura-story') Wura's Story
       li
        a(href='/photos') Photos
       li
        a(href='/map') Map
       li
        a(href='/invitation') Invites
       li
        a(href='/guestbook') Guestbook
       li
        a(href='/song-request') Song Request
       li
        a(href='/wedding-party') Wedding Party  
   .container
    .row
     .col-md-5.col-xs-12
      h1#about-name 
       span#about-bride-name Wura&nbsp;
       span#about-names-link &amp; 
       span#about-groom-name Happy
      h2#about-date Saturday, May 20, 2017
      h3#about-location Guzape, Abuja
     .col-md-7.col-xs-12
      block content
       
   
   script(src='/angular/angular.min.js')
   script(src='/angular/angular-resource.min.js')
   script(src='/angular/weddingApp.js')
   script(src='/bower_components/jquery/dist/jquery.min.js')
   script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
   script(src='javascripts/jquery-scripts.js')