extends layout

block content
 #content
  h1 Map

  .panel.panel-primary
   .panel-heading
    h2.panel-title.location Myra Event Center Guzape, Abuja
   .panel-body
    img.img-responsive.img-rounded(src='https://www.google.com/maps/place/Myra+Event+Centre/@9.0233054,7.5123924,17z/data=!4m5!3m4!1s0x104e0c07e0e27777:0x37d7778f03cc7786!8m2!3d9.0232842!4d7.5141197?hl=en-NG')
