extends layout

block content
 #content
  h1 Photos
  p 
   img(alt='', class='wedding-photo', src='https://s3-us-west-2.amazonaws.com/mobile-medics/couple1.JPG')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='https://s3-us-west-2.amazonaws.com/mobile-medics/couple2.JPG')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='https://s3-us-west-2.amazonaws.com/mobile-medics/couple3.JPG')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='https://s3-us-west-2.amazonaws.com/mobile-medics/couple4.JPG')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='https://s3-us-west-2.amazonaws.com/mobile-medics/couple6.JPG')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='https://s3-us-west-2.amazonaws.com/mobile-medics/couple7.JPG')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='https://s3-us-west-2.amazonaws.com/mobile-medics/couple8.JPG')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='https://s3-us-west-2.amazonaws.com/mobile-medics/couple9.JPG')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='https://s3-us-west-2.amazonaws.com/mobile-medics/couple10.JPG')