extends layout

block content
 #content
  h1 Photos
  p 
   img(alt='', class='wedding-photo', src='images/couple/couple1.jpg')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='images/couple/couple2.jpg')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='images/couple/couple3.jpg')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='images/couple/couple4.jpg')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='images/couple/couple6.jpg')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='images/couple/couple7.jpg')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='images/couple/couple8.jpg')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='images/couple/couple9.jpg')
  br
  hr
  p
   img(alt='', class='wedding-photo', src='images/couple/couple10.jpg')