extends layout

block content
 #content
  h1 Wedding Party
  h2 Ifejeye Ogunleye - Bridesmaid
  p 
   img(alt='', class='wedding-party-image', src='images/Ifejesu-OGUNLEYE.jpg')
  br
  hr
  h2 Iye-Amana - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='images/Iye-AMANA.jpg')
  br
  hr
  h2 Laide Oniwon - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='images/Laide-ONIWON.jpg')
  br
  hr
  h2 Naomi King - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='images/Naomi-KING-ALALE.jpg')
  br
  hr
  h2 Nosarieme Owens Ibie - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='images/Nosarieme-OWENS-IBIE.jpg')
  br
  hr
  h2 Aizehi-Wakwe - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='images/Aizehi-WAKWE.png')
  br
  hr
  h2 Ayomide Martins - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='images/Ayomide-MARTINS.jpg')
  br
  hr
  h2 Foluke Adeyeri - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='images/Foluke-ADEYERI.png')
  br
  hr
  h2 Abdulazeez Braimah - Groomsman
  p
   img(alt='', class='wedding-party-image', src='images/Abdulazeez-Braimah.jpg')
  br
  hr
  h2 Bamen Isenmila - Groomsman
  p
   img(alt='', class='wedding-party-image', src='images/unnamed(1).jpg')
  br
  hr
  h2 Bayo Odude - Groomsman
  p
   img(alt='', class='wedding-party-image', src='images/Bayo-Odude.jpg')
  br
  hr
  h2 Jonah-Odah - Groomsman
  p
   img(alt='', class='wedding-party-image', src='images/Jonah-Odah.jpg')
  br
  hr
  h2 Mr. Alex Akpabio - Groomsman
  p
   img(alt='', class='wedding-party-image', src='images/Mr.Alex-Akpabio.jpg')
  br
  hr
  h2 Mr. Ejiro Ariko - Groomsman
  p
   img(alt='', class='wedding-party-image', src='images/Mr.Ejiro-Ariko.jpg')
  br
  hr
  h2 Otega Ovedge - Groomsman
  p
   img(alt='', class='wedding-party-image', src='images/Otega-Ovedge.jpg')
  br
  hr
  h2 
  p
   img(alt='', class='wedding-party-image', src='images/unnamed.jpg')
   
  

   
  
  
   
