extends layout

block content
 #content
  h1 Wedding Party
  h2 Ifejeye Ogunleye - Bridesmaid
  p 
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/Ifejesu-OGUNLEYE.JPG')
  br
  hr
  h2 Iye-Amana - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/Iye-AMANA.jpg')
  br
  hr
  h2 Laide Oniwon - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/Laide-ONIWON.JPG')
  br
  hr
  h2 Naomi King - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/Naomi-KING-ALALE.JPG')
  br
  hr
  h2 Nosarieme Owens Ibie - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/Nosarieme-OWENS-IBIE.jpg')
  br
  hr
  h2 Aizehi-Wakwe - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/Aizehi-WAKWE.PNG')
  br
  hr
  h2 Ayomide Martins - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/Ayomide-MARTINS.jpg')
  br
  hr
  h2 Foluke Adeyeri - Bridesmaid
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/Foluke-ADEYERI.PNG')
  br
  hr
  h2 Abdulazeez Braimah - Groomsman
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/Abdulazeez-Braimah.jpg')
  br
  hr
  h2 Bamen Isenmila - Groomsman
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/unnamed.jpg')
  br
  hr
  h2 Bayo Odude - Groomsman
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/Bayo-Odude.jpg')
  br
  hr
  h2 Jonah-Odah - Groomsman
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/Jonah-Odah.jpg')
  br
  hr
  h2 Mr. Alex Akpabio - Groomsman
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/Mr.Alex-Akpabio.jpg')
  br
  hr
  h2 Mr. Ejiro Ariko - Groomsman
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/Mr.Ejiro-Ariko.jpg')
  br
  hr
  h2 Otega Ovedge - Groomsman
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/Otega-Ovedge.jpg')
  br
  hr
  h2 
  p
   img(alt='', class='wedding-party-image', src='https://s3-us-west-2.amazonaws.com/mobile-medics/unnamed.jpg')
   
  

   
  
  
   
