extends layout

block content
 #content
   h2 “Love does not consist of gazing at each other, but in looking outward together in the same direction” Antoine de Saint-Exupery
   h1 How we met
   h2 Wura's Story
   p.
      Happy and I first met, January 2011 at the entrance to my estate gate. We were just about some months into National Youth Service Corps (NYSC) at that time. It was my CDS day and the private firm I served in required that their Corp members return to work after CDS. After work I was meant to meet up with a friend (Precious) to see a movie but I was too tired and had to cancel on her. I then took a cab home, normally the cab enters the estate and drops me in front of my house but for some reasons I decided to drop in front of the estate so I could check my voters card (it was my first time voting so I was pretty excited) and there was a polling unit just by the estate gate. It was the 2011 Presidential Election Goodluck Jonathan won. As I was approaching the polling unit I noticed a young man staring at me (you know that kinda oh wow see fine girl kinda stare…lol). I was very tireddddddd and all I could think about was to pick up my voters card, go home, have a shower and watch TV shows on my laptop. I asked the officers in charge for my card and they started giving stories on how they lost some finger prints because their memory card was full and mine happened to be amongst the lost ones (typical naija story), I was kinda angry but the young fine man still stealing glances at random was just making me blush and somehow I just wanted to stay longer. ..Hehe.  
   p.
      To cut the long story short he approached me in a very subtle manner and we got talking…like I didn’t even know time was running as we talked like we’ve been friends for long time. I really can’t remember the nitty-gritty of what we talked about that day but I remember it wasn’t the normal ‘we just met conversation’. It was all funny and random stuff we talked about.
   p.
      It was getting late and I had to go home, he offered to walk me but I said I was fine and he got my number. I remembered thinking about the random conversation we had when I got home as I thought to myself how that hasn’t happened to me before…LOL. He called much later at night and we talked and talked. It felt like I had found a new friend. It felt really special to me because it was so random!!! Wasn’t a wedding/birthday party/Friends of friend kinda meet.
   p.
      Fast forward two days after we agreed to meet after plenty shakara…lol.  He came to pick me and I had the best time of my life, like I was totally blown.From laughing so hard till I started to cry to listening to ear deafening loud music. Wikzid’s Album “Superstar” just came out then and he played it on repeat in his car all day. We went to Abuja Amusement Park where he forced me on this extremely scary roller coaster wanna-be ride(He alone can tell that roller coaster story better). We went to Silverbird Cinemas to see a movie, drove randomly around town, went bowling and ate so much that I couldn’t breathe. It was the perfect date… lol.  Literally that was how our relationship started.
   p.
      He asked me to be his girlfriend weeks later after plenty shakara and I said YES.  Honestly what drew me to him at first was the fact that he could make me laugh so hard, his kind hearted spirit(he can help ehn, even people he knows won’t return the favor), his Genuineness and how hardworking he is.
   h2 6 weeks after we started Dating.
   p.
      I learnt a whole lot of things about him because he isn’t the secretive type. He was in a bad state emotionally when I met him but that was gone when we started dating proper. I know he wasn’t just with me to break my heart and run although I was still using one eye to look at him. He took me to his house and I met his family. He always looks out for me and pays apt attention to every detail (I know this because I was always testing him and surprisingly, he didn’t fall my hand…lol). In no time I started to include him in my prayers and I always have peace anything I fast and prayer about him.
   h2 Preferred Sex for Our First Child.
   p.
      We often talked about this. I’d love for us to have a Male Child first…Amennn. I want Little Happy. You know what they say “a little piece of the one you love running round the house”.
   h2 What made me know he is the ONE.
   p.
      What gave me the most assurance was God. I always have this peace whenever I pray about him. Then again, he had all the qualities I love to see in a man. He loves God, he works so hard (I often tell him to rest a bit, body no b firewood), he makes me laugh a lot, he is caring, he is firm on decisions. One quality I really love and look forward to learning when we start living together is the fact that he doesn’t follow the crowd. He does only what he feels is right and what he is comfortable with. There is no changing his mind to do what others are doing, this ability to make firm decisions make me feel an incomprehensible sense of safety around him.
   h2 Our Breakup.
   p.
      You know what they say “there’s no relationship without its lows” We had our down times too. It wasn’t all roses and pearls. I live to tell you that it did make us stronger!!! So much stronger and closer to God. I don’t even know if to say I actually thank God for the breakup because sometimes I feel it was a divine Strategy. Sometime in June 2014 we went apart because of some differences I was in so much pain, coupled with the fact that I lost my best friend (My mother) some months after we broke up. Both tragedies made me hold on to God so tight and I was able to manage the pain. During this period, I worked on myself, read a lot of books, joined church force, did my masters, had loads of me-time and didn’t have much time for boys. Like I just wanted to be better.
   h2 Our Makeup
   p.
      Hmmmm… after bros had gone outside and seen that girls are not smiling…lol, He had to retrace his steps….they showed him pepper *tongue out* but on a serious note I thank God for bringing us back together. Our coming back was divine; I said that because even though we were still keeping in touch when we parted it was the least expected time God brought us back together “For my thoughts are not your thoughts, neither are your ways my ways"(Isaiah 58V8)
   h2 Most Challenging time in the relationship
   p.
      Most challenging time was when we broke up which come to think of it kinda happens to be a blessing in disguise too because I strongly believe it made us stronger.
   h2 Where I see our family in 3 months, 3 years and 30years…
   p.
      In 3 months, I see us waking up next to each other, holding hands every morning and evening to Pray, Playing and laughing at each other’s jokes, making decisions that will make the future brighter, learning to know each other better.
   p.
      In 3 years, I see us training our kids in Gods way, building friendship, being financially and emotionally secure in all areas of life, you know, being HAPPILY married.Lol.
   p.
      And in 30 years, I see us having quality WE-TIME, having trained and wedded all our children. We would then have time to be children again, growing our love for each other.
   h2 His likes and Dislikes.
   span.bold-text Likes: 
   p Food & Respect
   span.bold-text Dislikes: 
   p Lies & being cheated.

 